body, html {
    margin: 0;
}

header {

    display: flex;
    align-items: center;
    height: 50px;

    overflow-x: scroll;

    > #adButton {
        display: flex;
        flex-direction: row;

        > * {
            margin: 0;
            font-size: 1em;
            color: hsl(240, 28%, 40%);
            /* appearance: none;
            background-color: rgb(213, 227, 255);
            border-color: lightblue;       */
        }
    }

    > * {
        margin-left: 10px;
        color: hsl(240, 28%, 40%);

    }

    > #play {
        font-size: 1em;
        color: var(--darkColor);
    }

    > #key, #BPM{
        width: 50px;
    }

    > label {
        margin-right: 0px;
    }
}

footer {
    height: 100px;
    width: 100vw;

    > textarea {
        margin: 10px;
    }
}

header, footer {
    width: 100vw;
    background-color: var(--color);
}


:root {
    --base: 68%;
    --color: hsl(240, 28%, var(--base));
    --lightColor: hsl(240, 28%, calc(var(--base)*1.2));
    --darkColor: hsl(240, 28%, calc(var(--base)*0.68));
    --borderColor: hsl(240, 28%, calc(var(--base)*0.60));
    --fColor: #e8c1ff;
}

#box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2%;
    margin-left: 1%;

    pointer-events: all;

    background-color: white;

    white-space: nowrap;
    overflow-x: scroll;

    > .row {
        display: flex;
        flex-direction: column;

        > input {
            appearance: none;

            margin: 2px;
    
            aspect-ratio: 1/1;
            width: 20px;
    
            border: 2px solid var(--darkColor);

        }
        > [name="blackKey"] {
            background-color: var(--fColor);
        }
    
        > input:checked{
            background-color: var(--color);
        }
        > [name="blackKey"]:checked {
            background-color: var(--darkColor);
        }
    }
}